name: Push

on:
  push:
    branches:
      - '*'

jobs:
  build:
    strategy:
      fail-fast: true

      matrix:
        goos: [linux]
        goarch: [amd64]

    name: Build ${{ matrix.goos }}/${{ matrix.goarch }}

    runs-on: ubuntu-latest

    env:
      GOOS: ${{ matrix.goos }}
      GOARCH: ${{ matrix.goarch }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...
